<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Funcionario</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body class="p-4">
    <center>
        <h3 >Agregar Funcionario</h3>
    </center>
    
    <form th:action="@{/admin/funcionarios/guardar}" th:object="${funcionario}" method="post">
        <div class="mb-3">
            <label>Nombre:</label>
            <input type="text" th:field="*{nombreFuncionario}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Correo:</label>
            <input type="email" th:field="*{correoFuncionario}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Contraseña:</label>
            <input type="password" th:field="*{contrasenaFuncionario}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Perfil:</label>
            <select class="form-select" name="perfilFuncionario" required>
                <option value="">Seleccione un perfil</option>
                <option value="OPERADOR">Operador</option>
                <option value="ADMINISTRADOR">Administrador</option>
                <option value="PROFESOR">Profesor</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</body>
</html>
