<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Sistema de Impresiones'">Sistema de Impresiones</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<header>
    <h1>Sistema de Solicitud de Impresiones</h1>
    <nav>
        <a th:href="@{/}">Inicio</a> |
        <a th:href="@{/solicitudes}">Solicitudes</a> |
        <a th:href="@{/logout}">Cerrar Sesión</a>
    </nav>
</header>

<main>
    <div th:fragment="content"></div>
</main>

<footer>
    <p>&copy; 2025 - Impresiones</p>
</footer>
</body>
</html>
